<footer class="footer">
    <!-- Universidad -->
    <div class="footer-section1">
      <h1>Universidad Nacional Autónoma de Nicaragua - CUR Carazo</h1>
    </div>
    <!-- Descripción del Proyecto -->
    <div class="footer-section2">
      <p class="description">
        "GeoCálculo" es una app educativa que ayuda a estudiantes y docentes a
        resolver rápidamente cálculos de áreas y perímetros, reforzando el
        aprendizaje matemático de manera interactiva y accesible.
      </p>
    </div>
    <!-- Enlaces "Acerca de Nosotros" -->
    <div class="footer-section3">
      <div class="icon-box">
        <a routerLink="/ourstory" class="icon-link">
          <p>Acerca de Nosotros</p>
        </a>
      </div>
    </div>
    <!-- Derechos de Autor -->
    <p class="autor">© 2024 GeoCálculo. Todos los derechos reservados.</p>
  </footer>