.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container h1 {
  text-align: center;
}
.input-data {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pic {
  max-width: 600px;
}

.info-contend{
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border:  1px solid var(--primary-color);
}
.info-contend h3{
  margin: 0;
  padding: 0;
}