<div class="title-container">
  <h1>Resolver Expresión Algebraica</h1>
  <div style="padding: 15px">
    <div class="info-contend">
      <h3><i class="fa-solid fa-info-circle"></i> Puedes intentar con:</h3>
   
        <li>Suma, resta y multiplicación de polinomios</li>
   
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <small>Ejemplos de entrada:</small>

        <small> 4m+n+5n+2n ó  (3x^2) * (8x^6)  </small>
      </div>
    </div>
  </div>
  <div style="padding: 15px">
    <p-messages
      [value]="messages"
      [enableService]="false"
      [closable]="false"
    ></p-messages>
  </div>

  <div class="input-data">
    <input
      type="text"
      pInputText
      [(ngModel)]="expression"
      placeholder="Ingresa una expresión"
    />
    <p-button (onClick)="solve()" label="Resolver"></p-button>
  </div>
</div>

<div *ngIf="steps.length > 0">
  <app-steps [Steps]="steps"></app-steps>
</div>

<div
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
  "
>
  <img class="pic" src="../../../assets/atro.svg" alt="Imagen" />
</div>

<br />
<br />

<app-ourstory></app-ourstory>
