<div class="title-container">
  <h1>Resolver Expresión Algebraica</h1>

  <div class="input-data">
    <input
      type="text"
      pInputText
      [(ngModel)]="expression"
      placeholder="Ingresa una expresión"
    />
    <p-button (onClick)="solve()" label="Resolver"></p-button>
  </div>
</div>

<div *ngIf="steps.length > 0">
  <app-steps [Steps]="steps"></app-steps>
</div>

<div
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
  "
>
  <img class="pic" src="../../../assets/atro.svg" alt="Imagen" />
</div>

<br>
<br>

<app-ourstory></app-ourstory>